<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/header :: headerinc"></th:block>
    <link href="../static/css/bootstrap.min.css"/>
</head>
<body>

<div th:include="fragments/navbar :: navbarHome"></div>

<h3>User Login</h3>

<div th:if="${message != null}">
    <span th:text="${message}"/>

</div>

<form action ="#" th:action="@{/user/login}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Username: </p> <input th:type="text" th:field="*{username}"/>
    <p>Password: </p> <input th:type="text" th:field="*{password}"/>


    <input type="submit" value = "Login" />


</form>

</body>
</html>