<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<h3>User Registration</h3>

<div th:if="${message != null}">
    <span th:text="${message}"/>

</div>

<form action ="#" th:action="@{/user/register}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Username: </p> <input th:type="text" th:field="*{username}"/>
    <p>Password: </p> <input th:type="text" th:field="*{password}"/>


    <input type="submit" value = "Register" />


</form>

</body>
</html>